body#geojsonio-body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #222;
    -webkit-font-smoothing: antialiased;
}

#map {
    height: 100%;
}

#map {
    right: 40%;
}

#parent #right {
    width: 40%;
}