#mapid {
    height: 100%;
}

.inline {
    display: inline-flex;
}

.file-bar {
    display: flex;
}

.leaflet-control-container {
    position: absolute;
    right: 56px;
}

.leaflet-control {
    float: right;
    clear: both;
    margin-top: -630px;
    margin-right: 20px;
}