#file-bar {
    right: 50%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    line-height: 25px;
    z-index: 1000;
    display: inline-flex;
}

.deemphasize {
    color: #888 !important;
    font-family: sans-serif;
}

.far {
    color: #2980b9;
}

.transform {
    transform: translate3d(0px, 40px, 0px) !important;
    padding: 0px !important;
    min-width: 0 !important;
}

.name {
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
}

.dropdown-item.hov:hover {
    background: rgb(52, 73, 94);
    color: #fff !important;
}

.nav-item.hov:hover {
    background: rgb(52, 73, 94);
}

.dropdown-menu.transform a {
    color: rgb(41, 128, 185);
}

.nav-item.dropdown:hover a.nav-link {
    color: #fff;
}