/* right section header */

#right {
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    min-width: 400px;
    box-sizing: border-box;
    z-index: 1000;
    -webkit-transition: all 200ms;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 0px;
}

#top {
    background: #eee;
    height: 40px;
}


/* collapse section */

.collapsed i {
    transform: rotate(180deg);
}

#top .coll {
    padding: 7px 10px !important;
    border-radius: 0;
    transition: none;
    background-color: #fff;
    height: 40px;
    box-shadow: none;
}

.mt-6 {
    margin-top: 6px;
}

#right #top a {
    text-decoration: none;
    margin: 0;
    border: 0;
    font: inherit;
}


/* collapse section */

.deemphasize {
    color: #888;
    font-family: sans-serif;
}

.fr {
    float: right;
}

.pad1 {
    padding: 10px;
}

.no-transition {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}

.mt-40 {
    margin-top: -40px;
}

.ml-28 {
    margin-left: 28px;
}

.nav-height {
    height: 40px;
}

button.nav-link:focus {
    outline: none;
}

.nav-link:hover {
    color: black;
}

.button-edit {
    background: #fff;
    font: inherit;
    border: none;
    transition: none;
    color: black;
}

button.active {
    background: #34495e;
    color: #fff !important;
}


/* right section header */


/* active JSON */

#right .pane {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}


/* active JSON */


/* for active JSON (codemirror) */

.CodeMirror {
    line-height: 1;
    position: relative;
    overflow: hidden;
    background: white;
    color: black;
}

#right .CodeMirror {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: auto !important;
    background: #fff;
    font-family: 'm_1regular', monospace;
    line-height: 1.5em;
}

.cm-gap {
    overflow: hidden;
    position: relative;
    width: 3px;
    height: 0px;
    top: 6.21528px;
    left: 32.9861px;
}

.cm-gap-style {
    position: absolute;
    padding: 0px;
    width: 1000px;
    height: 1em;
    outline: none;
    font-size: 4px;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    z-index: 6;
    display: none;
}

.hscroll-left {
    left: 29px !important;
}

.hscroll-height {
    height: 1px;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 6;
    display: none;
}

.vscroll-width {
    width: 1px;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 6;
    display: none;
    background-color: white;
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 6;
    display: none;
    background-color: white;
}

.CodeMirror-scroll {
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: 100%;
    outline: none;
    position: relative;
    overflow: auto;
}


/* no. of lines of code */

.CodeMirror-sizer {
    position: relative;
    min-width: 284.389px;
    margin-left: 29px;
    min-height: 96.8889px;
}


/* no. of lines of code */

.cm-sizer-props {
    position: relative;
    top: 0px;
}

.CodeMirror-lines {
    cursor: text;
    padding: 4px 0;
}

.cm-lines-style {
    position: relative;
    outline: none;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-measure pre {
    position: static !important;
}

.CodeMirror pre {
    font-family: inherit;
    font-size: inherit;
    white-space: pre;
    overflow-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    border-radius: 0px;
    border-width: 0px;
    background: transparent;
    margin: 0px;
    overflow: visible;
    padding: 0px 4px;
}

pre {
    display: inline-flex;
}

.CodeMirror-code {
    color: black;
}

.cm-bracket {
    position: relative;
}

.cm-count {
    position: absolute;
    left: -28.993px;
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}

.CodeMirror-linenumber {
    left: 0px;
    width: 28px;
    min-width: 20px;
    text-align: right;
    color: rgb(153, 153, 153);
    padding: 0px 3px 0px 5px;
}

.cm-s-eclipse {
    color: rgb(42, 0, 255);
}

span.cm-string {
    color: rgb(42, 0, 255);
}

.CodeMirror div.CodeMirror-cursor {
    position: absolute;
    visibility: hidden;
    width: 0px;
    border-right: none;
    z-index: 3;
    border-left: 1px solid black;
}

.CodeMirror-cursor-edit {
    left: 3.99304px;
    top: 2.22222px;
    height: 16.6667px;
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
    display: none;
}

.CodeMirror-gutters {
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 30px !important;
    z-index: 3;
    border-right: 1px solid rgb(221, 221, 221);
    white-space: nowrap;
}

.cm-gutters-height {
    height: 100%;
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: -32px;
    display: inline-block;
}

.cm-gutters-width {
    width: 28px;
}


/* for active JSON (codemirror) */


/* for active-TABLE */

.blank-banner {
    font-size: 20px;
    padding: 80px 20px;
    color: #888;
}

.center {
    text-align: center;
}


/* for active-TABLE */


/* for active-HELP */

.pad2 {
    padding: 20px;
}

.prose h2 {
    font-weight: bold;
    font-size: 18px;
}

.prose p {
    padding: 10px 0 !important;
    line-height: 200%;
}

.prose strong {
    font-weight: bold;
}

.prose h3 {
    font-weight: bold;
    margin-top: 14px;
}

.prose ul {
    margin: 20px 0;
    border: 1px solid #ccc;
    list-style: none;
}

.prose ul li {
    line-height: 200%;
    padding: 5px 5px;
    border-top: 1px solid #ccc;
}

.prose ul li:first-child {
    border-top: none;
}

hr {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    border-width: 1px;
    opacity: 1.25;
}

.prose h3 code {
    font-size: 16px;
}

.prose pcode {
    font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
    white-space: pre-wrap;
    background: rgba(0, 0, 0, 0.025);
    font-size: 16px;
    line-height: 20px;
    padding: 3px;
    border-radius: 3px;
}

.prose h4 {
    font-weight: bold;
    margin-top: 10px;
}


/* for active-HELP */