#layer-switch {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #fff;
}

.btn-edit {
    font-size: inherit;
    border-radius: 0px;
    padding: 2px 5px;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}