#layer-switch {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #fff;
}

.btn {
    border: none;
    background: #fff;
    color: black;
    font-size: inherit;
    outline: none;
    border-radius: 0px;
    padding: 2px 5px;
}