/* right heading collapse */


/* collapse section */

.collapsed i {
    transform: rotate(180deg);
}

.coll.btn {
    padding: 8px 8px;
    border-radius: 0;
    transition: none;
    background-color: #fff;
    height: 43px;
}

.btn:focus {
    box-shadow: none;
}

.tab-height {
    height: 40px;
}

.nav {
    height: 40px;
}

.nav-link {
    transition: none;
    color: black !important;
}

.nav-link:focus {
    outline: none;
}


/* collapse section */

@media screen and (max-width: 1100px) {
    .right {
        width: 50%!important;
    }
}

.right {
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 40%;
    min-width: 400px;
    box-sizing: border-box;
    background: #fff;
    z-index: 1000;
    transition: all 200ms;
    -webkit-transition: all 200ms;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 0px 0px;
}

.top {
    background: #eee;
}

button {
    background: #fff;
    font: inherit;
    cursor: pointer!important;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.nav button {
    padding: 10px 15px !important;
    height: 40px;
}

.deemphasize {
    color: #888;
    font-family: sans-serif;
}

.fr {
    float: right;
}

.pad1 {
    padding: 10px;
}

a {
    color: #2980b9;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

button.active {
    background: #34495e;
    color: #fff !important;
}

.right .pane {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
    overflow: auto;
}


/* for active-TABLE */

.blank-banner {
    font-size: 20px;
    padding: 80px 20px;
    color: #888;
}

.center {
    text-align: center;
}


/* for active-TABLE */


/* for active-HELP */

.pad2 {
    padding: 20px;
}

.prose h2 {
    font-weight: bold;
    font-size: 18px;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

p {
    padding: 10px 0 !important;
    line-height: 200%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.prose h3 {
    font-weight: bold;
    margin-top: 14px;
}

h3 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100% !important;
    font: inherit;
    vertical-align: baseline;
    font-size: calc(1.3rem + .6vw);
}

.prose ul {
    margin: 20px 0;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.prose ul li:first-child {
    border-top: none;
}

.prose ul li {
    line-height: 200%;
    padding: 5px 5px;
    border-top: 1px solid #ccc;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.prose strong {
    font-weight: bold !important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.prose h3 code {
    font-size: 16px;
}

.prose pcode {
    font-family: Menlo, Bitstream Vera Sans Mono, Monaco, Consolas, monospace;
    white-space: pre-wrap;
    background: rgba(0, 0, 0, 0.025);
    font-size: 14px;
    line-height: 20px;
    padding: 3px;
    border-radius: 3px;
}

pcode {
    font-size: .875em;
    color: black !important;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.025);
}

.prose h4 {
    font-weight: bold;
    margin-top: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

pre {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: inline-flex;
}


/* for active-HELP */


/* codemirror */

.CodeMirror {
    line-height: 1;
    position: relative;
    overflow: hidden;
    background: white;
    color: black;
}

.right .CodeMirror {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: auto !important;
    background: #fff;
    font-family: 'm_1regular', monospace;
    line-height: 1.5em;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 6;
    display: none;
    background-color: white;
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 6;
    display: none;
    background-color: white;
}

.CodeMirror-scroll {
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: 100%;
    outline: none;
    position: relative;
    overflow: auto;
}

.CodeMirror-sizer {
    position: relative;
}

.CodeMirror-lines {
    cursor: text;
    padding: 4px 0;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}

.CodeMirror-linenumber {
    min-width: 20px;
    text-align: right;
    color: rgb(153, 153, 153);
    padding: 0px 3px 0px 5px;
}

.CodeMirror pre {
    font-family: inherit;
    font-size: inherit;
    white-space: pre;
    overflow-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    border-radius: 0px;
    border-width: 0px;
    background: transparent;
    margin: 0px;
    overflow: visible;
    padding: 0px 4px;
}

.pre {
    vertical-align: baseline;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
    display: block;
}

.cm-s-eclipse {
    color: rgb(42, 0, 255);
}

span.cm-string {
    color: rgb(42, 0, 255);
}

.CodeMirror div.CodeMirror-cursor {
    position: absolute;
    visibility: hidden;
    width: 0px;
    border-right: none;
    z-index: 3;
    border-left: 1px solid black;
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}

.CodeMirror-gutters {
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 30px;
    z-index: 3;
    border-right: 1px solid rgb(221, 221, 221);
    white-space: nowrap;
    white-space: normal;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: -32px;
    display: inline-block;
}


/* right heading collapse */

.CodeMirror {
    line-height: 1;
    position: relative;
    overflow: hidden;
    background: white;
    color: black;
}

.right .CodeMirror {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: auto !important;
    background: #fff;
    font-family: 'm_1regular', monospace;
    line-height: 1.5em;
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 6;
    display: none;
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 6;
    display: none;
    background-color: white;
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 6;
    display: none;
    background-color: white;
}

.CodeMirror-scroll {
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    padding-right: 30px;
    height: 100%;
    outline: none;
    position: relative;
    overflow: auto;
}

.CodeMirror-sizer {
    position: relative;
}

.CodeMirror-lines {
    cursor: text;
    padding: 4px 0;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}

.CodeMirror-linenumber {
    min-width: 20px;
    text-align: right;
    color: rgb(153, 153, 153);
    padding: 0px 3px 0px 5px;
}

.CodeMirror pre {
    font-family: inherit;
    font-size: inherit;
    white-space: pre;
    overflow-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    border-radius: 0px;
    border-width: 0px;
    background: transparent;
    margin: 0px;
    overflow: visible;
    padding: 0px 4px;
}

.pre {
    vertical-align: baseline;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    font: inherit;
    display: block;
}

.cm-s-eclipse {
    color: rgb(42, 0, 255);
}

span.cm-string {
    color: rgb(42, 0, 255);
}

.CodeMirror div.CodeMirror-cursor {
    position: absolute;
    visibility: hidden;
    width: 0px;
    border-right: none;
    z-index: 3;
    border-left: 1px solid black;
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}

.CodeMirror-gutters {
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 30px;
    z-index: 3;
    border-right: 1px solid rgb(221, 221, 221);
    white-space: nowrap;
    white-space: normal;
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: -32px;
    display: inline-block;
}


/* codemirror */