.tool-bar {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
}

.leaflet-control {
    position: relative;
    z-index: 7;
    pointer-events: auto;
    float: left;
    clear: both;
}

#geojsonio-body .leaflet-bar {
    border-radius: 0;
}

.leaflet-draw-toolbar-top {
    margin-top: 0;
}

.leaflet-bar {
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0, 0, 0, .4);
    border-radius: 3px;
    box-shadow: none;
}

#geojsonio-body .leaflet-bar a {
    border: 0;
    border-radius: 0;
}

.leaflet-bar a {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, .75);
}

.leaflet-draw-toolbar {
    margin-top: 12px;
}

.leaflet-draw a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.leaflet-draw-toolbar a {
    background-image: url(../lib/draw/images/spritesheet.png);
    background-repeat: no-repeat;
}


/* tools */

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: -2px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -31px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -62px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -122px -2px;
}


/* tools */

.leaflet-right .leaflet-draw-actions {
    right: 26px;
    left: auto;
}

.leaflet-draw-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 26px;
    top: 0;
    white-space: nowrap;
}

.leaflet-draw-section {
    position: relative;
}

.leaflet-draw-toolbar {
    margin-top: 12px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -212px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -242px -2px;
}

.leaflet-bar .leaflet-disabled {
    cursor: default;
    opacity: .75;
}

.leaflet-right .leaflet-draw-actions {
    right: 26px;
    left: auto;
}