/* margin-top (search & zoom) */

.leaflet-top {
    margin-top: 40px;
}


/* margin-top (search & zoom) */

#geojsonio-body .leaflet-bar {
    border-radius: 0;
    border: 1px solid #999;
}

#geojsonio-body .leaflet-bar a {
    border: 0;
}

.leaf-bar {
    background-color: #fff;
}

.leaflet-bar a {
    width: 26px !important;
    height: 26px !important;
    line-height: 26px !important;
}

.leaflet-draw-toolbar {
    margin-top: 11px;
}

.mt-12 {
    margin-top: -12px;
}

.leaflet-draw a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.leaflet-draw-toolbar a {
    background-image: url(../lib/draw/images/spritesheet.png);
    background-repeat: no-repeat;
}


/* tools position */

.leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    background-position: -2px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-polygon {
    background-position: -31px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
    background-position: -62px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-draw-marker {
    background-position: -122px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-edit.leaflet-disabled {
    background-position: -212px -2px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove.leaflet-disabled {
    background-position: -242px -2px;
}


/* tools position */